/* 아웃로그인 스킨 */
.ol {position:relative;width:250px;height:105px;font-family: 'Nanum Gothic', serif;}
.ol h2 {margin:0;padding:0;display:none;font-size:0;line-height:0;overflow:hidden}
.ol ul {margin:0;padding:0;list-style:none}

#ol_before fieldset {position:relative}

#ol_id {border:0;width:143px;height:25px;position:absolute;display:inline-block;top:17px;left:19px;padding-left:10px;vertical-align:top;line-height:1.6em}
#ol_pw {border:0;width:143px;height:25px;position:absolute;display:inline-block;top:44px;left:19px;padding-left:10px;vertical-align:top;line-height:1.6em}

#ol_id:focus {border-color:#333;background:#21272e;color:#fff}
#ol_pw:focus {border-color:#333;background:#21272e;color:#fff}

.ol_idlabel {position:absolute;top:23px;left:25px;color:#333;font-size:0.95em}
.ol_pwlabel {position:absolute;top:49px;left:25px;color:#333;font-size:0.95em}

#auto_login {}
#auto_login_label {letter-spacing:-0.1em}
#ol_submit {background-image:url('img/ol_btn.gif');width:51px;height:55px;padding:0;margin:0;border:none}
#ol_before a {letter-spacing:-0.15em}
#ol_svc {}
#ol_password_lost {}
#ol_auto {}
#ol_auto label {letter-spacing:-0.1em}
#ol_auto input {width:13px;height:13px;vertical-align:bottom}

.ol_box{background-image:url('img/ol_before.gif');width:250px;height:105px;margin:0;padding:0;position:relative;}
.ol_submit{position:absolute;top:15px;left:172px;}
.ol_join{position:absolute;display:inline-block;top:80px;left:15px}
.ol_info{position:absolute;display:inline-block;top:80px;left:80px}
.ol_auto{position:absolute;display:inline-block;top:80px;left:144px}



.ol_box2{background-image:url('img/ol_after.gif');px;width:250px;height:105px;margin:0;padding:0;}
#ol_after {}
#ol_after_hd {text-align:center;margin-top:15px}
#ol_after_private {margin:0 0 3px;zoom:1}
#ol_after_private:after {display:block;visibility:hidden;clear:both;content:""}
#ol_after_private li {float:left;width:60px;text-align:center;margin-top:48px}
#ol_after_pt {}
#ol_after_ft {text-align:justify}
#ol_after_ft a {display:inline-block;width:88px;height:22px;background:#333;color:#fff;text-align:center;line-height:1.8em}
#ol_after_ft a:focus,
#ol_after_ft a:hover {text-decoration:none !important}
