@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');

* { margin: 0; padding: 0;}
li { list-style: none;}
a { text-decoration: none; color: #333; display: block; font-family: 'Nanum Gothic', sans-serif; }

.wrap {
    width: 100%;
}
img {
    width: 100%;
}
/*모바일-767pixel 이하*/
@media screen and (max-width:767px) {
    header {
        width: 100%;
        height: 70px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20px;
        /* margin: 0 auto;*/
        /*padding-top: 40px;*/
    }
    header .logo {
        float: left;
        margin-top: 20px;
    }
    header .mobile_btn {
        display: block;
        width: 36px;
        float: right;
        margin: 24px;
    }
    header .menu {
        display: none;
        float: right;
    } 
    /*메인 비주얼*/
    section.main {
        float: left;
        width: 100%;
        height: 600px;
        background-image: url(../img/bg_visual_summer.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    section.main .main_png {
        display: none;
    }
    section.main .model {
        display: none;
    }
    section.main .mobile_png {
        display: block;
        width: 80%;
        margin: 100px auto;
    }
     /*모바일-cf 동영상*/
    section.movie {
        display: flex;
        width: 100%;
        height: 600px;
        background-image: url(../img/bg_mainMoveArea.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    section.movie .movie_in {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
    }
    section.movie .movie_in .youtube {
        order: 2;
        width: 50%;
        height: 20%;
        margin: 3%;
        position: relative;
        top: -170px
    }
    section.movie .movie_in .youtube iframe {
        width: 100%;
    }
    section.movie .movie_in .movie_title {
        order: 1;
        width: 100%;
        /*height: 452px;*/
        background-image: url(../img/illust_cf.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    section.movie .movie_in .movie_title a {
        width: 30%;
        margin: 18% 10%;
    }
    /*모바일 이벤트*/
    section.event {
        width: 100%;
        float: left;
        background-color: #ddd;
        text-align: center;
    }
    section.event .event_in {
        display: none;
    }
    section.event .mobile_evevt {
        display: block;
        width: 100%;
    }
    section.event .mobile_evevt .evevt1 {
        width: 100%;
        background-color: #ccc;
        padding-top: 30px;
    }
    section.event .mobile_event .event1 h1 {
        width: 240px;
        height: 50px;
        margin: 30px auto 20px;
    }
    section.event .mobile_event .event1 img {
        width: 90%;
        margin-bottom: 50px;
    }
    section.event .mobile_event .event2 h1 {
        width: 200px;
        margin: 30px auto 20px;
    }
    section.event .mobile_event .event2 img {
        width: 70%;
    }
    /*모바일 푸터*/
    footer {
        width: 100%;
        float: left;
        background-color: #23272a;
        color: #ddd;
    }
    footer .footer_in {
        width: 100%;
    }
    footer .footer_in .f_logo {
        display: none;
    }
    footer .footer_in .top_footer {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
    }
    footer .footer_in .top_footer .f_list {
        order: 2;
        width: 100%;
    }
    footer .footer_in .top_footer .sns {
        order: 1;
        width: 100%;
        height: 40px;
        padding: 20px 0;
    }
    footer .footer_in .top_footer .sns ul {
        width: 220px;
        margin: 0 auto;
    }
    footer .footer_in .top_footer .sns ul li {
        float: left;
        width: 32px;
        height: 32px;
        margin: 0 20px;
        position: relative;
        left: 80px;
        background-image: url(../img/btns_sns.png);
        background-position: left center;
        background-repeat: no-repeat;
        opacity: 0.5;
    }
    footer .footer_in .top_footer .sns ul li a {
        text-indent: -9999px;
    }
    footer .footer_in .top_footer .sns ul li:nth-child(2) {
        background-position: center;
    }
    footer .footer_in .top_footer .sns ul li:last-child {
        background-position: right;
    }
    footer .footer_in .top_footer .f_list {
        clear: both;
    }
    footer .footer_in .top_footer .f_list ul {
        width: 90%;
        margin: 0 auto;
    }
    footer .footer_in .top_footer .f_list ul li {
        float: left;
    }
    footer .footer_in .top_footer .f_list ul li a {
        color: #ccc;
        font-size: 14px;
        padding: 5px 17px;
    }
    footer .footer_in .top_tooter .f_list ul li:last-child {
        display: none;
    }
    footer .footer_in .bottom_footer address {
        width: 80%;
        margin: 0 auto;
        font-size: 11px;
        font-style: normal;
        margin-top: 20px;
        text-align: center;
        line-height: 20px;
    }
    footer .footer_in .bottom_footer p {
        font-size: 11px;
        text-align: center;
        margin-top: 20px;
        color: #888;
        margin-bottom: 30px;
    }
}
/*태블릿-768이상 959이하*/
@media screen and (min-width:768px) and (max-width:959px) {
    header {
        width: 100%;
        height: 90px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;
        /* margin: 0 auto;*/
        /*padding-top: 40px;*/
    }
    header .logo {
        float: left;
        margin-top: 20px;
        margin-left: 10px;
    }
    header .mobile_btn {
        display: none;
    }
    header .menu {
        display: block;
        float: right;
    } 
    header .menu .top_menu {
        margin-top: 15px;
        margin-bottom: 10px;
        float: right;
    }
    header .menu .top_menu ul li {
        float: left;
    }
    header .menu .top_menu ul li a {
        font-size: 13px;
        padding: 0 15px;
    }
    header .menu .top_menu ul li a img {
        float: left;
        margin-right: 10px;
        top: -3px;
        width: inherit;
    }
    header .menu nav ul li {
        float: left;
        margin-left: 35px;
    }
    header .menu nav {
        clear: both;
        margin-right: 15px;
    }
    header .menu nav ul li a {
        font-size: 16px;
        font-weight: bold;
    }
    /*메인 비주얼*/
    section.main {
        position: relative;
        float: left;
        width: 100%;
        height: 700px;
        background-image: url(../img/section1_bg_summer.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    section.main .mobile_png {
        display: none;
    }
    section.main .main_png {
        display: block;
        width: 40%;
        margin: 200px auto;
        margin-left: 10%;
    }
    section.main .model {
        position: absolute;
        width: 300px;
        right: 50px;
        bottom: 0;
    }
    /*태블릿-cf 동영상*/
    section.movie {
        display: flex;
        width: 100%;
        height: 600px;
        background-image: url(../img/bg_mainMoveArea.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    section.movie .movie_in {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
    }
    section.movie .movie_in .youtube {
        order: 1;
        width: 45%;
        /*margin: 0 auto;*/
        float: left;
        margin: 15% 5%;
        box-sizing: border-box;
    }
    section.movie .movie_in .youtube iframe {
        width: 100%;
    }
    section.movie .movie_in .movie_title {
        order: 2;
        width: 45%;
        float: right;
        /*height: 452px;*/
        background-image: url(../img/illust_cf.png);
        background-position: 70% -5%;
        background-repeat: no-repeat;
        background-size: cover;
        box-sizing: border-box;
    }
    section.movie .movie_in .movie_title a {
        width: 50%;
        margin: 40% 8% 0;
    }
    /*태블릿 이벤트*/
    section.event {
        width: 100%;
        float: left;
        background-color: #f9f8ee;
    }
    section.event .mobile_event {
        display: none;
    }
    section.event .event_in {
        display: block;
        width: 100%;
        padding: 50px 0;
    }
    section.event .event_in div div {
        float: left;
    }
    section.event .event_in .e1 {
        width: 20%;
        margin-left: 30px;
    }
    section.event .event_in .e2 {
        width: 25%;
        margin-left: 120px;
        margin-top: -20px
    }
    section.event .event_in .e3 {
        width: 20%;
        margin-left: 50px;
        margin-top: 35px;
    }
    section.event .event_in .e4 {
        width: 20%;
        margin-left: 50px;
        margin-top: 35px;
    }
    section.event .event_in .e5 {
        width: 17%;
        margin-left: 10px;
        margin-top: 35px;
    }
    section.event .event_in .e6 {
        width: 30%;
        margin-top: 35px;
    }
    section.event .event_in .e7 {
        width: 25%;
        margin-top: 40px;
    }
    section.event .event_in .event1 {
        height: 310px;
        border-bottom: 3px solid #999;
    }
    
    section.event .event_in .event2 {
        height: 300px;
        background-image: url(../img/section3_2_bg.png);
        background-size: 80%;
        background-position: -30px center;
        background-repeat: no-repeat;
    }
    /*태블릿-footer*/
    footer {
        width:100%;
        float:left;
        background-color:#23272a;
        color:#ddd;
    }
    footer .footer_in {
        width:100%;
    }
    footer .footer_in .f_logo {
        display: block;
        float:left;
        margin-top:50px;
        margin-left:20px;
        margin-right:30px;
        margin-bottom: 50px;
        width:130px;
    }
    footer .footer_in .top_footer {
        width:auto;
        display: flex;
        flex-flow:row wrap;
        float:left;
        margin-top: 30px;
    }
    footer .footer_in .top_footer .f_list {
        order:1;
        width:auto;
        float:left;
    }
    footer .footer_in .top_footer .sns {
        order:2;
        float:left;
        width:auto;
        height:40px;
        padding:0 10px;
    }
    footer .footer_in .top_footer .sns ul {
        width:140px;
        margin:0 auto;
    }
    footer .footer_in .top_footer .sns ul li {
        float:left;
        width:32px;
        height: 32px;  
        margin:0 5px;
        background-image: url(../img/btns_sns.png);
        background-position: left;
        background-repeat: no-repeat;
        opacity: 0.5;
    }
    footer .footer_in .top_footer .sns ul li a {
        text-indent: -9999px;
    }
    footer .footer_in .top_footer .sns ul li:nth-child(2){
        background-position: center;
    }
    footer .footer_in .top_footer .sns ul li:last-child {
        background-position: right;
    }
    
    footer .footer_in .top_footer .f_list {
        clear:both;        
    }
    footer .footer_in .top_footer .f_list ul {
        width:100%;
        margin:0 auto;
    }
    
    footer .footer_in .top_footer .f_list ul li {
        float:left;
    }
    footer .footer_in .top_footer .f_list ul li a {
        color:#ccc;
        font-size:13px;
        padding:5px 7px;
    }
    footer .footer_in .top_footer .f_list ul li:last-child {
        display: block;
    }
    footer .footer_in .bottom_footer {
    }
    footer .footer_in .bottom_footer address {
        width:88%;
        margin-left: -80px;
        font-size:13px;
        font-style:normal;
        margin-top:20px;
        text-align: left;
        line-height: 20px;
    }
    footer .footer_in .bottom_footer p {
        font-size:11px;
        text-align: center;
        margin-top:20px;
        color:#888;
        margin-bottom: 30px;
        text-indent:-30px;
    }
}
/*PC-960pixel 이상*/
@media screen and (min-width:960px) {
    header {
        width: 1280px;
        height: 100px;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -640px;
        /*padding-top: 40px;*/
        z-index: 20;
    }
    header .logo {
        float: left;
        margin-top: 40px;
        margin-left: 10px;
    }
    header .mobile_btn {
        display: none;
    }
    header .menu {
        display: block;
        float: right;
    }
    header .menu .top_menu {
        margin-top: 20px;
        margin-bottom: 10px;
        float: right;
    }
    header .menu .top_menu ul li {
        float: left;
    }
    header .menu .top_menu ul li a {
        font-size: 13px;
        padding: 0 15px;
    }
    header .menu .top_menu ul li a img {
        float: left;
        margin-right: 5px;
        top: -3px;
        width: inherit;
    }
    header .menu nav ul li {
        float: left;
        margin-left: 45px;
    }
    header .menu nav {
        clear: both;
    }
    header .menu nav ul li a {
        font-size: 22px;
        font-weight: bold;
    }
    /*메인 비주얼*/
    section.main {
        position: relative;
        float: left;
        width: 100%;
        height: 970px;
        background-image: url(../img/section1_bg_summer.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    section.main .main_png {
        width: 500px;
        position: absolute;
        right: 1100px;
        top: 200px;
        
        
    }
    section.main .mobile_png {
        display: none;
    }
    section.main .model {
        width: 430px;
        position: absolute;
        right: 300px;
        bottom: 0;
    }
    /*PC-cf 동영상*/
    section.movie {
        display: flex;
        width: 100%;
        height: 970px;
        background-image: url(../img/bg_mainMoveArea.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    section.movie .movie_in {
        width: 1280px;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
    }
    section.movie .movie_in .youtube {
        order: 1;
        width: 45%;
        /*margin: 0 auto;*/
        float: left;
        margin: 28% 5%;
        box-sizing: border-box;
    }
    section.movie .movie_in .youtube iframe {
        width: 100%;
    }
    section.movie .movie_in .movie_title {
        order: 2;
        width: 45%;
        float: right;
        /*height: 452px;*/
        background-image: none;
        background-position: 70% -5%;
        background-repeat: no-repeat;
        background-size: cover;
        box-sizing: border-box;
    }
    section.movie .movie_in .movie_title a {
        width: 55%;
        margin: 62% 12% 0;
    }
    /*PC 이벤트*/
    section.event {
        width: 100%;
        float: left;
        background-color: #f9f8ee;
    }
    section.event .mobile_event {
        display: none;
    }
    section.event .event_in {
        display: block;
        width: 1280px;
        margin: 0 auto;
        padding: 100px 0;
    }
    section.event .event_in div div {
        float: left;
    }
    section.event .event_in .e1 {
        width: 30%;
        margin-left: 30px;
    }
    section.event .event_in .e2 {
        width: 30%;
        margin-left: 160px;
        margin-top: -50px
    }
    section.event .event_in .e3 {
        width: 20%;
        margin-left: 50px;
        margin-top: 40px;
    }
    section.event .event_in .e4 {
        width: 20%;
        margin-left: 50px;
        margin-top: 35px;
    }
    section.event .event_in .e5 {
        width: 20%;
        margin-left: 10px;
        margin-top: 35px;
    }
    section.event .event_in .e6 {
        width: 30%;
        margin-top: 150px;
    }
    section.event .event_in .e7 {
        width: 25%;
        margin-top: 70px;
    }
    section.event .event_in .event1 {
        height: 500px;
        border-bottom: 3px solid #999;
    }
    section.event .event_in .event2 {
        height: 500px;
        background-image: url(../img/section3_2_bg.png);
        background-size: 80%;
        background-position: -100px center;
        background-repeat: no-repeat;
    }
    /*PC-footer*/
    footer {
        width:100%;
        height: 200px;
        float:left;
        background-color:#23272a;
        color:#ddd;
    }
    footer .footer_in {
        width: 1280px;
        margin: 0 auto;
    }
    footer .footer_in .f_logo {
        display: block;
        float:left;
        margin-top:50px;
        margin-left:20px;
        margin-right:30px;
        margin-bottom: 50px;
        width:130px;
    }
    footer .footer_in .top_footer {
        width:auto;
        display: flex;
        flex-flow:row wrap;
        float:left;
        margin-top: 30px;
    }
    footer .footer_in .top_footer .f_list {
        width:auto;
        float:left;
    }
    footer .footer_in .top_footer .sns {
        float:left;
        width:auto;
        height:40px;
        padding:0 10px;
    }
    footer .footer_in .top_footer .sns ul {
        width:140px;
        margin:0 auto;
    }
    footer .footer_in .top_footer .sns ul li {
        float:left;
        width:32px;
        height: 32px;  
        margin:0 7px;
        position: relative;
        left: 130px;
        background-image: url(../img/btns_sns.png);
        background-position: left;
        background-repeat: no-repeat;
        opacity: 0.5;
    }
    footer .footer_in .top_footer .sns ul li a {
        text-indent: -9999px;
    }
    footer .footer_in .top_footer .sns ul li:nth-child(2){
        background-position: center;
    }
    footer .footer_in .top_footer .sns ul li:last-child {
        background-position: right;
    }
    
    footer .footer_in .top_footer .f_list {
        clear:both;        
    }
    footer .footer_in .top_footer .f_list ul {
        width:100%;
        margin:0 auto;
    }
    
    footer .footer_in .top_footer .f_list ul li {
        float:left;
    }
    footer .footer_in .top_footer .f_list ul li a {
        color:#ccc;
        font-size:13px;
        padding:10px 20px;
        
    }
    footer .footer_in .top_footer .f_list ul li:last-child {
        display: block;
    }
    footer .footer_in .bottom_footer {
    }
    footer .footer_in .bottom_footer address {
        width: 37%;
        margin-left:30px;
        font-size: 3px;
        font-style: normal;
        margin-top: 20px;
        text-align: left;
        line-height: 20px;
        float: left;
    }
    footer .footer_in .bottom_footer p {
        width: 40%;
        float: right;
        font-size:11px;
        text-align: center;
        margin-top:20px;
        color:#888;
        margin-bottom: 30px;
        text-indent:-30px;
    }
}