* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    color: #333;
    font-family: nexon;
}

img {
    width: 100%;
}

@font-face {
    font-family: NEXON;
    src: url(../font/NEXON.eot) format('eot');
    src: url(../font/NEXON.ttf) format('ttf');
    src: url(../font/NEXON.woff) format('woff');
}

.wrap {
    width: 100%;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
    float: left;
}

header .logo {
    width: 60px;
    margin: 20px;
    position: absolute;
}

header nav {
    z-index: 10;
    width: 60%;
    margin: 40px 20px 0 650px;
}

.navi_btn, .menu_area {
    display: none;
}

/*주메뉴*/
header nav > ul {
    display: flex;
    justify-content: space-between;
}

header nav > ul > li > a {
    font-size: 16px;
    padding: 0 30px;
    padding-bottom: 40px;
    text-align: center;
}

header nav > ul > li > a:hover {
    text-decoration: underline;
    font-weight: bold;
}

/*서브메뉴*/
header nav .sub {
    display: none;
}

header nav .sub li a {
    text-align: center;
    font-size: 14px;
    padding: 7px;
}

/*서브메뉴 배경*/
.sub_bg {
    width: 100%;
    height: 220px;
    background-color: azure;
    position: absolute;
    z-index: 5;
    top: 90px;
    display: none;
}

.carousel-inner p {
    position: absolute;
    top: 160px;
    left: 250px;
    font-size: 2rem;
    font-family: nexon;
}

.carousel-inner #a {
    position: absolute;
    top: 220px;
    left: 250px;
    font-size: 80px;
    color: #fff;
    font-weight: bold;
    font-family: nexon;
}

.carousel-inner #a1 {
    position: absolute;
    top: 220px;
    left: 250px;
    font-size: 80px;
    color: #888;
    font-weight: bold;
    font-family: nexon;
}

.carousel-inner #a2 {
    position: absolute;
    top: 220px;
    left: 380px;
    font-size: 80px;
    font-weight: bold;
    font-family: nexon;
}

.carousel-inner #a3 {
    position: absolute;
    top: 255px;
    left: 710px;
    font-size: 40px;
    font-weight: bold;
    font-family: nexon;
}

.carousel-inner #b1 {
    position: absolute;
    top: 220px;
    left: 250px;
    font-size: 80px;
    color: #888;
    font-weight: bold;
    font-family: nexon;
}

.carousel-inner #b2 {
    position: absolute;
    top: 220px;
    left: 380px;
    font-size: 80px;
    font-weight: bold;
    font-family: nexon;
    color: #cb2e53;
}

.carousel-inner #b3 {
    position: absolute;
    top: 220px;
    left: 530px;
    font-size: 80px;
    font-weight: bold;
    font-family: nexon;
    color: #888;
}

.carousel-inner #b2,
#b3 {
    border-bottom: 3px solid #888;
    text-decoration: none;
}

.carousel-inner #b4 {
    position: absolute;
    top: 220px;
    left: 730px;
    font-size: 40px;
    font-weight: bold;
    font-family: nexon;
    color: #888;
}

.carousel-inner #c1 {
    position: absolute;
    top: 340px;
    left: 250px;
    color: #fff;
    border: 1px solid #fff;
    width: 250px;
    height: 60px;
    font-family: nexon;
    text-align: center;
    line-height: 65px;
    font-size: 23px;
    cursor: pointer;
}

.carousel-inner #c2 {
    position: absolute;
    top: 340px;
    left: 250px;
    border: 1px solid #000;
    width: 250px;
    height: 60px;
    font-family: nexon;
    text-align: center;
    line-height: 65px;
    font-size: 23px;
    cursor: pointer;
}

section.visual {
    width: 100%;
    float: left;
    z-index: 1;
    margin-bottom: 80px;
}

section.view1 {
    width: 80%;
    margin: 0 auto;
}

section.view2 {
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.swiper-container {
    width: 90%;
    height: 500px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}

.swiper-slide ul {
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
}

.swiper-slide ul li {
    float: left;
    border: 1px solid #000;
    margin: 10px;
}

.swiper-slide ul li img {
    width: 278px;
}

.swiper-slide ul li h1 {
    font-size: 18px;
}

.swiper-slide ul li p {
    font-size: 15px;
}

.banner2 {
    width: 100%;
    float: left;
    /*height: 500px;*/
    position: relative;
    top: -55px;
}

.whisen {
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
}

.whisen > #prev,
.whisen > #next {
    width: 80px;
    margin-top: 120px;
    cursor: pointer;
}

.whisen #prev {
    float: left;
}

.whisen #next {
    float: right;
}

.whisen .photo {
    width: 800px;
    height: 330px;
    position: absolute;
    overflow: hidden;
    left: 50%;
    margin-left: -400px;
    margin-bottom: 100px;

}

.whisen .photo ul {
    width: 5000px;
    position: absolute;
}

.whisen .photo ul li {
    float: left;
}

.cocial {
    width: 100%;
    float: left;
}

.icon {
    width: 800px;
    height: 200px;
    margin: 0 auto;
    position: relative;
    top: 120px;
}

.icon ul {}

.icon ul li {
    width: 100px;
    float: left;
    margin: 7px;
}

footer {
    float: left;
    background-color: #777;
    width: 100%;
    height: 250px;
    margin-top: 100px;
}

footer address a {
    float: left;
    color: #fff;
}

footer address p {
    margin: 50px;
    font-family: nexon;
    color: #fff;
}

.info {
    margin: 50px 0 0 50px;
    float: left;
}

.info ul li {
    float: left;
}

.info ul li a {
    color: #fff;
    float: left;
}

.info ul li p {
    color: #fff;
}

/*미디어쿼리-모바일*/
@media screen and (max-width:480px) {

    header {
        width: 100%;
        height: 65px;
    }

    header .logo {
        margin: 12px;
        display: inline;
    }

    header .logo a {
        width: 11vw;
        position: absolute;
        left: 41vw;
    }

    .navi_btn {
        width: 35px;
        height: 30px;
        position: absolute;
        top: 17px;
        left: 15px;
        display: block;
    }
    
    .menu_area {
        width: 130px;
        height: 537px;
        background-color: cornflowerblue;
        color: #fff;
        position: absolute;
        left: -300px;
        top: 0;
        z-index: 100;
        border-radius: 0 0 20px 0;
        display: block;
        
    }

    .close_btn {
        width: 30px;
        margin: 17px 0 0 15px;
    }

    header nav {
    z-index: 150;
    width: 130px;
    margin: 80px 0 0 0;
}

    /*주메뉴*/
    header nav > ul {
        display: block;
    }

    header nav > ul > li > a {
        font-size: 15px;
        padding: 0 0;
        padding-bottom: 40px;
        text-align: center;
        position: relative;
        left: -300px;
        top: 0;
        
    }

    header nav > ul > li > a:hover {
        text-decoration: underline;
        font-weight: bold;
    }

    /*서브메뉴*/
    header nav .sub {
        display: none;
    }

    header nav .sub li a {
        text-align: center;
        font-size: 5px;
        padding: 1px;
        position: relative;
        top: 0;
        display: none;
        
    }

    /*서브메뉴 배경*/
    .sub_bg {
        width: 130px;
        height: 30px;
        background-color: transparent;
        position: absolute;
        top: 100px;
        z-index: 200;
        display: none;
    }

    .carousel-inner p {
        position: absolute;
        top: 20px;
        left: 40px;
        font-size: 10px;
        font-family: nexon;
        width: 45%;
        z-index: 5;
    }

    .carousel-inner #a {
        position: absolute;
        top: 40px;
        left: 40px;
        font-size: 17px;
        color: #fff;
        font-weight: bold;
        font-family: nexon;
        z-index: 5;
    }

    .carousel-inner #a1 {
        position: absolute;
        top: 40px;
        left: 40px;
        font-size: 17px;
        color: #888;
        font-weight: bold;
        font-family: nexon;
        z-index: 5;
    }

    .carousel-inner #a2 {
        position: absolute;
        top: 40px;
        left: 65px;
        font-size: 17px;
        font-weight: bold;
        font-family: nexon;
        z-index: 5;
    }

    .carousel-inner #a3 {
        position: absolute;
        top: 45px;
        left: 138px;
        font-size: 8px;
        font-weight: bold;
        font-family: nexon;
        z-index: 5;
    }

    .carousel-inner #b1 {
        position: absolute;
        top: 40px;
        left: 40px;
        font-size: 15px;
        color: #888;
        font-weight: bold;
        font-family: nexon;
        z-index: 5;
    }

    .carousel-inner #b2 {
        position: absolute;
        top: 40px;
        left: 70px;
        font-size: 15px;
        font-weight: bold;
        font-family: nexon;
        color: #cb2e53;
        z-index: 5;
    }

    .carousel-inner #b3 {
        position: absolute;
        top: 40px;
        left: 102px;
        font-size: 15px;
        font-weight: bold;
        font-family: nexon;
        color: #888;
        z-index: 5;
    }

    .carousel-inner #b2,
    #b3 {
        border-bottom: 3px solid #888;
        text-decoration: none;
        z-index: 5;
    }

    .carousel-inner #b4 {
        position: absolute;
        top: 40px;
        left: 145px;
        font-size: 11px;
        font-weight: bold;
        font-family: nexon;
        color: #888;
        z-index: 5;
    }

    .carousel-inner #c1 {
        position: absolute;
        top: 70px;
        left: 40px;
        color: #fff;
        border: 1px solid #fff;
        width: 70px;
        height: 20px;
        font-family: nexon;
        text-align: center;
        line-height: 20px;
        font-size: 10px;
        cursor: pointer;
        z-index: 5;
    }

    .carousel-inner #c2 {
        position: absolute;
        top: 70px;
        left: 40px;
        border: 1px solid #000;
        width: 70px;
        height: 20px;
        font-family: nexon;
        text-align: center;
        line-height: 20px;
        font-size: 10px;
        cursor: pointer;
        z-index: 5;
    }

    section.visual {
        width: 100%;
        float: left;
        z-index: 1;
        margin-bottom: 0;
        z-index: 5;
    }

    section.view1 {
        position: relative;
        top: 40px;
    }

    section.view2 {
        width: 80%;
        margin-top: 80px;
    }

    .swiper-container {
        width: 100%;
        height: 500px;
    }

    .swiper-slide {
        width: 80%;
        left: 10%;
        overflow: hidden;
    }

    .swiper-slide ul {
        width: 25rem;
        margin: 5% 0;
    }

    .swiper-slide ul li {
        border: 1px solid #000;
        margin: 1px;
    }

    .swiper-slide ul li img {
        width: 145px;
    }

    .swiper-slide ul li h1 {
        font-size: 10px;
    }

    .swiper-slide ul li p {
        font-size: 5px;
    }

    .banner2 {
        width: 100%;
        /*height: 500px;*/
    }

    .whisen {
        width: 100%;
        margin: 0 auto;
        position: relative;
        top: -30px;
        z-index: 10;
    }

    .whisen > #prev,
    .whisen > #next {
        width: 30px;
        margin-top: 45px;
        cursor: pointer;
    }

    .whisen .photo {
        width: 80%;
        height: 150px;
        left: 10%;
        margin: 0 auto;
        overflow: hidden;
        position: absolute;

    }

    .whisen .photo ul {
        width: 400%;
        position: absolute;
        left: 0;
    }

    .whisen .photo ul li {
        float: left;
        width: 25%;
    }

    .cocial {
        width: 100%;
        float: left;
        position: relative;
        top: -350px;
    }

    .icon {
        width: 100%;
        height: 200px;
        margin: 0 auto;
        position: relative;
        top: 350px;
    }

    .icon ul {}

    .icon ul li {
        width: 21vw;
        float: left;
        margin: 7px;
    }

    footer {
        background-color: #777;
        width: 100%;
        height: 250px;
        margin-top: 0;
    }

    footer address a {
        color: #fff;
        font-size: 10px;
    }

    footer address p {
        margin: 40px;
        font-family: nexon;
        font-size: 10px;
        color: #fff;
    }

    .info {
        margin-top: 30px;
        margin-left: 40px;
        font-size: 10px;
    }

    .info ul li {
        float: left;
    }

    .info ul li a {
        color: #fff;
        float: left;
    }

    .info ul li p {
        color: #fff;
    }

}
