@charset "utf-8";
/* SIR 지운아빠 */

/* 아웃로그인 스킨 */
.ol {position::inherit;padding:0px;border-bottom:0px solid #dde4e9;float:right; padding-right:15px; padding-top:2px}
.ol h2 {margin:0;padding:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}
.ol ul {margin:0;padding:0;list-style:none}

.ol a.btn_admin { position:relative; display:inline-block;padding:0 10px;height:23px;border:1px solid #e8180c;background:#e8180c;color:#fff;text-decoration:none;line-height:2.15em;} /* 관리자 전용 버튼 */
.ol a.btn_admin:focus, .ol a.btn_admin:hover {text-decoration:none}

#ol_before {}
#ol_before fieldset {position:relative}
#ol_id { float:left; display:block; margin:0 2px;padding:0 5px;width:100px;height:30px;border:1px solid #d5d8dc;vertical-align:middle;line-height:1.5em}
.ol_idlabel { position:absolute;top:7px;left:10px;color:#333;font-size:0.95em}
#ol_pw { float:left; display:block; margin:0 2px;padding:0 5px;width:100px;height:30px;border:1px solid #d5d8dc;vertical-align:middle;line-height:1.5em}
.ol_pwlabel { position:absolute;top:7px;left:115px;color:#333;font-size:0.95em}
#auto_login {}
#auto_login_label {letter-spacing:-0.1em}
#ol_submit {float:left; display:block;width:60px;height:28px;border:1px solid #e4eaec;background:#f7f7f7;font-size:.95em;vertical-align:top;margin:2px;padding:0 5px;color:#484848;}
#ol_before a {letter-spacing:-0.15em}
#ol_svc {float: right;display:block;width:70px;height:28px;border:1px solid #e4eaec;background:#f7f7f7;font-size:0.95em;margin:2px;padding:0 5px; text-align:center; line-height:22px;color:#484848;}
#ol_svc2 {float: left;display:block;width:80px;height:28px;border:1px solid #e4eaec;background:#f7f7f7;font-size:0.95em;margin:2px;padding:0 5px; text-align:center; line-height:28px;color:#484848;}
#ol_password_lost {display:inline-block;margin:0 0 0 5px}
#ol_auto {float:left;height:22px; line-height:2px; margin:2px;padding:2px;}
#ol_auto label {}
#ol_auto input {width:13px;height:13px;vertical-align:bottom}

#ol_after { padding-top:5px}
#ol_after_hd { position:static; float:left; margin:0 0 3px;}
#ol_svc3 {float: left;display:block;width:30px;height:22px;background:#F34F34;margin:0 5px; text-align:center; color:#fff; font-weight:bold;font-size:0.95em;margin:2px;padding:0 5px; line-height:22px}
#ol_svc4 {float: left;display:block;width:200px;height:22px;background:#f7f7f7;font-size:0.95em;margin:2px;padding:0 5px; text-align:center; line-height:22px}
#ol_svc5 {float: right;display:block;width:60px;height:22px;background:#f7f7f7;font-size:0.95em;margin:2px;padding:0 5px; text-align:center; line-height:22px}
#ol_svc6 {float: left;display:block;width:120px;height:22px;background:#f7f7f7;font-size:0.95em;margin:2px;padding:0 5px; text-align:center; line-height:22px}
#ol_svc7 {float: right;display:block;width:60px;height:22px;background:#f7f7f7;font-size:0.95em;margin:2px;padding:0 5px; text-align:center; line-height:22px}
#ol_svc8 {float: left;display:block;width:80px;height:22px;background:#f7f7f7;font-size:0.95em;margin:2px;padding:0 5px; text-align:center; line-height:22px}
#ol_after_hd .btn_admin { float:left;margin-top:5px;width:40px;text-align:center}
#ol_after_private {margin:0 0 3px;zoom:1}
#ol_after_private:after {display:block;visibility:hidden;clear:both;content:""}
#ol_after_private li {float:left}
#ol_after_private a {display:block;padding-top:8px;height:37px;background:#f7f7f7;text-align:center}
#ol_after_private a strong {display:block;padding-top:3px;color:#000;font-weight:normal}
#ol_after_private a:focus,
#ol_after_private a:hover {background:#333;color:#fff;text-decoration:none}
#ol_after_private a:focus strong,
#ol_after_private a:hover strong {color:#fff;text-decoration:none}
#ol_after_memo {width:50px;margin-right:1px}
#ol_after_pt {width:80px;margin-right:1px}
#ol_after_scrap {width:48px;line-height:2.6em !important}
#ol_after_ft {text-align:justify}
#ol_after_ft a {display:inline-block;width:88px;height:25px;background:#333;color:#fff;text-align:center;line-height:2.2em}
#ol_after_ft a:focus, #ol_after_ft a:hover {text-decoration:none !important}

#level { float:left;display:block;width:180px;height:22px;border:3px solid #e4eaec;background:#f7f7f7;font-size:0.95em;margin:2px;padding:0 5px; text-align:center; line-height:22px}